ion-card-title{
  height: 50px;
  font-family: Arial;
  font-size: 12px;
  color: white;
}


.config{
  width: 80px;
  height: 60px;
}

ion-grid{
  margin-top: 40px;
}

 
.logo{
  margin-top: 2%;
  width: 50px;
  height: 30px;
}


div{
  text-align: center;
  margin-top: 1px;
    
}

.config{
  width: 80px;
  height: 60px;
}

ion-grid{
  margin-top: 40px;
}


.logo{
  margin-top: 2%;
  width: 50px;
  height: 25px;
}


ion-card{
  background-color: black;
  border-radius: 5%;
 
 
}

ion-label{
  color: chocolate;
  font-family: Impact;
  font-size: 15px;
 
}


.valorconfig{
  font-size: 25px;
  font-family: Impact;
  margin-top: 15%;
  text-align: center;
  color: white;
}

.promocao{
 
  width: 70px;
  height: 60px;
  
}
 
 ion-searchbar{
  margin-top: 1px;
 }
 
 ion-fab-button {
   color: black;
   
 }


ion-title{
 font-family: Palatino Linotype;
 font-size: 22px;
 margin-left: 1px;
 color: darkorange;
}
.transp{
 
  opacity: 1;
  border-radius: 50%;
  width: 150px;
  height: 120px;
 
}

.transp:hover{
  
  opacity: 0.5;
 
}

ion-tab-button{
 // background-color: brown;
  --background: url(../../assets/imagens/88.jpg);
  opacity: 0.5;
}

.Procura{
 
  width: 50px;
  height: 30px;
}

ion-content.background{
 // --ion-background-color:black;
 // --background: url(../../assets/imagens/mesa13.jpg);
}

.preto{
  color: black;
}

.tam{
  width: 50px;
  height: 30px;
 
}
.pro{
 
  width: 50px;
  height: 30px;
  
}
.fundo{
  //--background: url(../../assets/imagens/8zz.jpg);  

}

.botom{
  background-color: black;
 // --background: url(../../assets/imagens/88.jpg);
}