.usuario{
    margin-left: 120px;
    font-size: 16px;
 }
 .pessoa{
    width: 50px;
    height: 30px;
 }
 ion-title{
   font-family: Monotype Corsiva;
   font-size: 30px;
   text-align: center;
   margin-right: 40px;
 }
 .usuario{
   font-family: Helvetica, sans-serif;
   font-size: 18px;
   margin-left: 15px;
   margin-top: 50px;
   margin-bottom: 30px;
 }
 text{
    font-family: FreeMono, monospace;
    font-size: 20px;
 }
 div{
   text-align: center;
 }
 .botao{
   margin-top: 50px;
 }