<ion-header>
  <ion-toolbar color="dark">
    <ion-icon (click)="Home()" slot="start" name="arrow-back" class="css"></ion-icon>
    <ion-icon slot="end" name="cart" class="Carr" (click)="Carrinho()"></ion-icon>
    <ion-title>Cardápio Vegetariano</ion-title>
  </ion-toolbar>

</ion-header>

<ion-content padding class="background">




  <ion-card>
    <ion-card-header>

      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-card-subtitle>{{pratovegetariano.nome}}</ion-card-subtitle>

          </ion-col>
          <ion-col>
            <ion-card-subtitle class="valor">{{pratovegetariano.valor}}</ion-card-subtitle>
          </ion-col>
        </ion-row>
      </ion-grid>






      <img src="{{pratovegetariano.imagem}}" class="img">


      <ion-card-title> {{pratovegetariano?.ingrediente}}</ion-card-title>

      <ion-card-title>{{pratovegetariano?.descricao}}</ion-card-title>

    </ion-card-header>

    <ion-card-content>

      <ion-button expand="full" fill="outline" color="white" (click)="ListaDePratosVegetariano()">Sair</ion-button>
    </ion-card-content>
  </ion-card>


</ion-content>