.css{
    width: 50px;
    height: 30px;
    color: black;
  }
  ion-card{
    background-color: black;
 
  }
  ion-card-title{
    height: 60px;
    font-size: 15px;
    font-family: Arial;
    color: white;
    text-align: center;
  }
  ion-card-subtitle{
    font-style: initial;
    font-family: Arial;
    color: white;
    text-align: center;
  }
  .valorconfig{
    font-size: 25px;
    font-family: Impact;
    height: 25px;
    text-align: end;
  }
  h3{
    color:black;
    font-size: 15px;
    font-family: Impact;
   
  }
  .titleconfig{
    height: 35px;
    font-size: 13px;
    font-family: Arial;
    text-align: start;
    color: white;
   
   
  }
  ion-title{
    color: black;
  }