ion-card-subtitle{
  font-family: Trebuchet ;
  font-size: 20px;
  text-align: center;
  color: white;
  
}

ion-card-title{
  text-align: center;
  font-family: Lucida ;
  font-size: 18px;
  color: white;

}
.css{
  width: 50px;
  height: 30px;
  color: black;
 
}
.valor{
  color: white;
  text-align: end;
  font-family: Impact;
  font-size: 30px;
}
ion-card{
  background-color: black;
}
ion-title{
  color: black;
}

.Carr{
  width: 50px;
  height: 30px;
  color: blue;
}

ion-button{
  color: white;
}