// http://ionicframework.com/docs/theming/
@import '~@ionic/angular/css/core.css';
@import '~@ionic/angular/css/normalize.css';
@import '~@ionic/angular/css/structure.css';
@import '~@ionic/angular/css/typography.css';
@import '~@ionic/angular/css/display.css';
@import '~@ionic/angular/css/padding.css';
@import '~@ionic/angular/css/float-elements.css';
@import '~@ionic/angular/css/text-alignment.css';
@import '~@ionic/angular/css/text-transformation.css';
@import '~@ionic/angular/css/flex-utils.css';

:root{
    .menu-lateral{
        --background: none;
        background-color: #F8F8FF;
        background-position: center center;
       
    }

    .menu-lateral *{
    color: #000 !important;
    font-family: Monotype Corsiva;
    font-size: 25px;
    
    }
    .menu-lateral ion-item, .menu-lateral ion-menu-toggle,  .menu-lateral ion-list{
        --background: none !important;
        background-color: #F8F8FF;
        
    }
    .Menuzao {
        height: 150px;
    }
    .Menuzin {
        color: #fff;
        font-size: 26px;
        margin-top: 20px;
    }
    .Menuzin2 {
        color: #fff;
        margin-left: 60px;
        font-size: 19px;
        margin-top: -10px;
    }
    .Menuzin4 {
        color: #fff;
        margin-left: 60px;
        font-size: 19px;
    }
    .Menuzin5 {
        color: #fff;
        margin-left: 60px;
        font-size: 19px;
        
    }
    .Menuzin3 {
        color: #fff;
        margin-top: 10px;
        margin-bottom: 10px;
        font-family: Monotype Corsiva;
        font-size: 30px;
        text-align: center;
    }
    .perfilMenu{
        height: 50px;
        width: 50px;
        border-radius: 50%;
        margin-top: 10px;
        margin-left: 10px;
    }
}